html {
  overflow-y: overlay;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border: 1px solid rgb(74, 45, 128);
  box-shadow: inset 0 0 6px rgba(38, 36, 65, 0.582);
  background-color: rgb(140, 139, 208);
  border-radius: 2px;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-family: Georgia, serif;
  line-height: 1.5;
  color: rgb(0, 0, 0);
  margin: 0;
  background: linear-gradient(100deg, rgb(183, 210, 226) 0%, rgb(92, 96, 121) 60%);
}

a {
  text-decoration: none;
}
#search-form {
  width: 100%;
  height: 65px;
  background-color: rgb(37, 37, 211);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.6);
  z-index: 2;

  & input {
    width: 350px;
    height: 65px;
    padding: 8px;
    outline: none;
    border-radius: 6px;
    margin-right: 10px;
  }

  & button {
    padding: 0;
    cursor: pointer;
    border-radius: 6px;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus,
    &:active {
      opacity: 1;
    }

    & img {
      width: 30px;
      height: 30px;
    }
  }
}

#search-button {
  width: 60px;
  height: 55px;
  margin-left: 0px;
  border-radius: 3px;
  background-color: rgba(124, 124, 192, 0.927);
  margin-top: 2px;
}

#search-form {
  width: 100%;
  height: 65px;
  background-color: rgb(78, 86, 156);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.6);
  z-index: 2;

  & input {
    width: 350px;
    height: 55px;
    padding: 8px;
    outline: none;
    border-radius: 6px;
    margin-right: 10px;
    font-size: large;
  }

  & button {
    padding: 0;
    cursor: pointer;
    border-radius: 6px;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus,
    &:active {
      opacity: 1;
    }

    & img {
      width: 30px;
      height: 30px;
    }
  }
}


  

.gallery,
.info {
  display: flex;
  flex-wrap: wrap;
}
.gallery {
  margin-left: -20px;
  padding-top: 60px;
  justify-content: center;
}

.gallery__link {
  margin-top: 20px;
  margin-left: 20px;
  min-width: 320px;
  flex-basis: calc((100% - 80px)/4);
  border: 2px solid rgb(241, 238, 238);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s;
}
.gallery__link:hover,
.gallery__link:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.gallery-item__img {
  display: block;
  height: 30vh;
  object-fit: cover;
}
.info {
  padding: 5px;
  justify-content: space-around;
  background-color: #8c8cc8;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(245, 239, 239);
  font-size: small;
}
.info-item:not(:first-child) {
  margin-left: 5px;
}


.load-more {
  margin: 40px auto;
  background-color: rgba(159, 159, 196, 0.927);
  color: rgb(34, 33, 51);
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.6);
  opacity: 0.85;
  transition: all 0.3s ease-in-out;
  display: none;

  &:hover {
    opacity: 1;
  }
}
